*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    flex-basis: 50%;
    flex-wrap: nowrap;
    display:grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
}

.list{
    display: flex;
    gap: 10px;
    margin: 30px;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.section{
    color:gray;
    transition-duration: 0.5s ;
    font-size: larger;

}
.section:hover{
    color:violet;
    cursor: pointer;
    transform: translate(0,-5px);
    font-size: larger;
}
.section-1 {
    font-size: large;
    margin-right: 20%;

}
.section-6{
    font-size: medium;
    margin-left: auto;
    padding: 10px;
    background-color: rgba(153, 231, 251, 0.408);
    border-radius: 13px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.6s;
}
.section-6:hover{
    background-color: aqua;
    cursor: pointer;
    transform: translate(0,-5px);
}
#line1{
 width: 450px;
 
 margin: 175px 0px 25px 150px ; 
 color: rgb(74, 87, 99);
 

}
#line2{
     width: 450px; 
 margin: 15px 0px 10px 150px; 
 color:  rgb(3, 182, 253);

}
.left-div p{
    width: 450px;
 margin: 15px 0px 25px 150px ;
 color: rgb(157, 109, 157);
}
button{
     width: 300px;
     height: 50px;
 margin: 15px 0px 25px 200px ;
 color: white;
 background-color: blue;
 border-radius: 25px;

}
button:hover{
    background-color: rgb(85, 85, 236);
}
img{
    width: 500px;
    margin: 50px 0px 25px 25px;

}
@media screen and (max-width: 768px) {

    .container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    #line1,
    #line2,
    .left-div p{
        width: 90%;
        margin: 20px auto;
    }

    button{
        margin: 20px auto;
        display: block;
    }

    img{
        width: 90%;
        margin: 20px auto;
        display: block;
    }

    .list{
        flex-wrap: wrap;
        gap: 15px;
    }

    .section-1{
        margin-right: 0;
    }

    .section-6{
        margin-left: 0;
    }
}
